// Configure your own style here

// Base css custom properties reminder:
// --motion: Multiply all animation timing by --motion to turn animation off for prefer-reduced-motion users
// --text-color:Main text color, support light and dark theme
// --background-color:Main background color, support light and dark theme
// --accent-color: Main accent color

body {
  background: url(/public/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-items: end center;

  .gallery {
    --size: 100px;
    display: grid;
    grid-template-columns: repeat(6, var(--size));
    grid-template-rows: repeat(3, var(--size));
    gap: 5px;
    padding: 1rem 1rem 7rem 1rem;
    place-items: start center;

    img {
      width: calc(var(--size) * 2);
      height: calc(var(--size) * 2);
      object-fit: cover;
      aspect-ratio: 1;
      grid-column: auto / span 2;
      clip-path: path(
        "M 80 20 C 100 0 100 0 120 20 L 140 40 L 160 60 L 180 80 C 200 100 200 100 180 120 L 160 140 L 140 160 L 120 180 L 120 180 C 100 200 100 200 80 180 L 60 160 L 40 140 L 20 120 C 0 100 0 100 20 80 L 40 60 L 60 40 Z"
      );
      transition: 300ms ease clip-path;
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;

      &:nth-child(5n - 1) {
        grid-column: 2 / span 2;
      }

      &:hover {
        z-index: 100;
        clip-path: path(
          "M 80 0 C 100 0 100 0 120 0 L 180 0 L 200 20 L 200 80 C 200 100 200 100 200 120 L 200 180 L 180 200 L 140 200 L 120 200 C 100 200 100 200 80 200 L 20 200 L 0 180 L 0 120 C 0 100 0 100 0 80 L 0 20 L 20 0 Z"
        );
      }

      &:not(:hover) {
        animation: zIndexHack 500ms;
      }
    }
  }
}
